.sortable {
    width: 100%;
    height: auto;
    padding: 1vw;
    background-color: #ffffff;
}

.typeahead {
    width: 50%;
    height: 40px;
    min-height: 20px;
    min-width: 40%;
    border: 1px solid #b1a5a5;
    border-radius: 0px;
}

.typedate {
    width: 20%;
}


.form-actions {
    padding: 20px;
}

.btn-cancel {
    width: 10%;
    min-width: 10%;

    height: 40px;
}

.btn-success {
    width: 10%;
    min-width: 10%;
    height: 40px;
}
